%h1 How Care2Share works

%h2 Step One: Create Your Fundraising Campaign
%p There’s no easier way to share your story and attract support.

%h2 Step Two: Share with Family and Friends
%p Shrare your story in facebook and connect to others to attract support.

%h2 Step Three: Easily Accept Donations
%p Receive your money by requesting bank transfer.

%h2 Step Four: Enjoy the Results
%p Make changes, post updates from your dashboard.

%h2= link_to 'Start Care2Share fundrising', new_user_registration_path