-# %link{href: "../../assets/stylesheets/information.sass", rel: "stylesheet"}


.container_hiw
    .title
        %h1 How Care2Share works
    .header1
        %h2 Step One: Create Your Fundraising Campaign
        %p There’s no easier way to share your story and attract support.
    .header2
        %h2 Step Two: Share with Family and Friends
        %p Shrare your story in facebook and connect to others to attract support.
    .header3
        %h2 Step Three: Easily Accept Donations
        %p Receive your money by requesting bank transfer.
    .header4
        %h2 Step Four: Enjoy the Results
        %p Make changes, post updates from your dashboard.
    .start_campaign
        %h2= link_to 'Sign up & start a campaign today!', new_user_registration_path