// Place all the styles related to the Campaigns controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: 500px repeat(3, auto)

.header 
  grid-row-start: 1
  grid-row-end: span 1
  background-image: url("https://d25oniaj7o2jcw.cloudfront.net/photo-hero-jenesis@2x.jpg")
  background-size: contain
  background-repeat: no-repeat
  width: 100%
  display: inline-block

    //     .login

    //     .how_it_works

.campaigns
  grid-row-start: 2
  grid-row-end: span 1

    //     %h1#campaign_header List of Campaigns

    //     #campaign_cards
       
    //     #campaign_link    

.contact_us
  grid-row-start: 3
  grid-row-end: span 1


// ********************
// *********************
//  Main portfolio page  
// *********************
// *********************

// body 
//   color: #4f585e
//   font-family: 'Source Sans Pro', sans-serif
//   text-rendering: optimizeLegibility
  
// .wrapper
//   display: grid
//   grid-template-columns: 1fr 1fr
//   grid-template-rows: 680px repeat(5, auto)

// .header 
//   grid-column-start: 1 
//   grid-column-end: -1 
//   grid-row-start: 1
//   grid-row-end: span 1
//   border-left: 3px solid #818181
//   border-right: 3px solid #818181
//   border-top: 3px solid #818181

// .header img 
//   width: 100%
//   height: auto
//   border: 0

// #header_title
//   position: absolute
//   top: -10px
//   left: 50%
//   font-family: 'Source Sans Pro', sans-serif
//   font-size: 40px
//   color: black
//   background-color: hsla(0,0%,50.6%,0.5)
//   padding-right: 10px
//   padding-left: 10px
//   height: 100px
//   margin-top: 30px
//   margin-left: 50px
//   border-radius: 5px 

// #header_title h2
//   margin-top: 10px

// .projects_section
//   grid-column-start: 1
//   grid-column-end: span 2
//   grid-row-start: 2
//   grid-row-end: span 1
//   border-left: 3px solid #818181
//   border-right: 3px solid #818181
//   border-top: 3px solid #818181
//   background-color: white
//   z-index: 10

// #projects_header
//   padding-left: 160px
//   font-size: 22px
//   color: hsl(0,0%,50.6%)
//   line-height: 1.1
//   font-size: 25px

// .cards 
//   display: grid
//   grid-template-columns: 1fr 1fr 1fr
//   grid-template-rows: 1fr 1fr
//   padding-top: -30px

// .card
//   margin-top: 50px
//   margin-bottom: 50px
//   margin-left: 50px
//   margin-right: 50px

// #about_header
//   padding-left: 82px
//   font-size: 22px
//   font-family: 'Source Sans Pro', sans-serif
//   color: hsl(0,0%,50.6%)

// #about_ul
//   padding-left: 95px
//   font-family: 'Source Sans Pro', sans-serif

// .about 
//   background-color: #f5f2f0
//   grid-column-start: 1
//   grid-column-end: span 1
//   grid-row-start: 3
//   grid-row-end: span 2
//   text-align: left
//   line-height: 1.1
//   padding-left: 80px
//   border-left: 3px solid #818181
//   border-top: 3px solid #818181
//   font-family: 'Source Sans Pro', sans-serif

// #my_image
//   background-color: #f5f2f0
//   grid-column-start: 2
//   grid-column-end: span 1
//   grid-row-start: 3
//   grid-row-end: span 1
//   padding-top: 50px
//   padding-left: 200px
//   border-right: 3px solid #818181
//   border-top: 3px solid #818181

// #my_image img
//   width: 150px
//   height: auto

// #social_media
//   background-color: #f5f2f0
//   grid-column-start: 2
//   grid-column-end: span 1
//   grid-row-start: 4
//   grid-row-end: span 1
//   padding-left: 230px
//   padding-top: 20px
//   word-spacing: 10px
//   margin-top: -20px
//   border-right: 3px solid #818181

// #social_media a 
//   text-decoration: none

// #social_media a img
//   width: 40px
//   height: auto

// .contact
//   background-color: white
//   grid-column-start: 1
//   grid-column-end: span 2
//   grid-row-start: 5
//   grid-row-end: span 1
//   text-align: center
//   border: 3px solid #818181

// .footer
//   grid-column-start: 1
//   grid-column-end: span 2
//   width: 100%
//   text-align: center
//   background-color: #818181
//   font-size: 16px
//   padding: 10px 0 10px 0
//   color: white
//   bottom: 0
//   left: 0
